<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>530279353524-58tb9545pga2jc21qkahf1qtv2le7r98.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.530279353524-58tb9545pga2jc21qkahf1qtv2le7r98</string>
	<key>API_KEY</key>
	<string>AIzaSyAdQCmD4HRgkyphKjyd_Vh_ap8y_cvO6Gs</string>
	<key>GCM_SENDER_ID</key>
	<string>530279353524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.payMatch</string>
	<key>PROJECT_ID</key>
	<string>paymatch-b2561</string>
	<key>STORAGE_BUCKET</key>
	<string>paymatch-b2561.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:530279353524:ios:843d60d101347e82e65be1</string>
</dict>
</plist>